.inputBox
{
  position: relative;
  width: 35.9rem;
  /* background-color: aqua; */
}
.inputBoxSmall
{
  position: relative;
}
.inputBox input,
.inputBox textarea
{
  width: 100%;
  border-color: rgb(209, 213, 219);
}
.inputBox .inputSmall
{
  width: 100%;
}
.inputBox span 
{
  position: absolute;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgba(55, 65, 81, 0.5);
  font-weight: 400;
  pointer-events: none;
  transition: 0.5s;
}
.inputBox input:valid ~ span, 
.inputBox input:focus ~ span
{
  color: rgb(79, 70, 229);   
  transform: translateX(0.625rem) translateY(-0.9rem);
  font-size: 0.9rem;
  padding : 0rem 0.5rem;
  background-color: white;
}
.inputBox input:valid, 
.inputBox input:focus
{
  color: rgb(79, 70, 229);
  border-color: rgb(79, 70, 229);
}
.inputBox textarea:valid ~ span, 
.inputBox textarea:focus ~ span
{
  color: rgb(79, 70, 229);   
  transform: translateX(0.625rem) translateY(-0.9rem);
  font-size: 0.9rem;
  padding: 0rem 0.5rem;
  background-color: white;
}
.inputBox textarea:valid, 
.inputBox textarea:focus
{
  color: rgb(79, 70, 229);
  border-color: rgb(79, 70, 229);
}
.inputBox select:valid ~ span, 
.inputBox select:focus ~ span
{
  color: rgb(79, 70, 229);   
  transform: translateX(0.625rem) translateY(-0.9rem);
  font-size: 0.9rem;
  padding: 0rem 0.5rem;
  background-color: white;
}
.inputBox select:valid, 
.inputBox select:focus
{
  color: rgb(79, 70, 229);
  border-color: rgb(79, 70, 229);
}
.inputBoxSmall select:valid ~ span, 
.inputBoxSmall select:focus ~ span
{
  color: rgb(79, 70, 229);   
  transform: translateX(0.625rem) translateY(-0.9rem);
  font-size: 0.9rem;
  padding: 0rem 0.5rem;
  background-color: white;
}
.inputBoxSmall select:valid, 
.inputBoxSmall select:focus
{
  color: rgb(79, 70, 229);
  border-color: rgb(79, 70, 229);
}
.notification
{
  /* position: fixed; */
  width: 100%;
}
.content
{
  width: 100%;
}
.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
}
.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}
.text-red-900 {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.button-green {
  appearance: none;
  background-color: rgb(204, 251, 241);
  border: 0.125rem solid rgb(20, 184, 166);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: rgb(20, 184, 166);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.375rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-red
{
  appearance: none;
  background-color: rgb(252 165 165);
  border: 0.125rem solid rgb(239 68 68);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: rgb(239 68 68);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.375rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
/* --------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
.uploadContainer
{
  height: 82vh;
}